<div class="background-verfiy">
  <div class="content d-flex justify-content-center rounded-2 m-auto position-relative">
    <div class="text-center">
      <img src="../../../../assets/Img/logo-light.png" width="120" height="30" class="mt-5 mb-4" />
      <h5 class="custem_primary_color">Verify Email</h5>
      <p class="coustem_secondry_color">Did you not receive an email? Please <span class="custem_primary_color curor-pointer">try again</span></p>
      <button class="d-block text-center m-auto btn-send-email border-0 p-1 px-2 rounded text-light">Skip Now</button>
      <img class="custem-margin-img-email" width="300" height="300" src="../../../../../assets/Img/auth-email.png"/>
    </div>

  </div>

</div>
