$breakpoints: (
  sm: (
    min: 320px,
    max: 767px,
  ),
  md: (
    min: 767px,
    max: 1200px,
  ),
  lg: (
    min: 1200px,
    max: 1400px,
  ),
);
@mixin respond($size) {
  $query: map-get($breakpoints, $size);
  @media (min-width: map-get($query, min)) and (max-width: map-get($query, max)) {
    @content;
  }
}


.Add-category{
  text-align: center;
  background-color: transparent;
  border: 1px solid white;
  width: 12%;
  background-color: #3b82f6;
  color: white;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
  &:hover {
    opacity: 0.5;
  }
}



.Add-category{
  @include respond(sm) {
    width: 30%;
  }

  @include respond(md) {
    width: 30%;
  }
}
