<div class="w-100 p-3 animate__animated animate__fadeInDown">
  <div class="w-100 text-end">
    <button (click)="toggleCategoryForm()" class="Add-category">Add Category</button>

    @if (toggleFormAdd()) {
    <form [formGroup]="formCategory" class="form-add-category" [@slideToggle]>
      <div class="Group">
        <input [class.is-invalid]="
              getControls('name')?.invalid && getControls('name')?.touched
            "class="form-control" placeholder="Category Name" formControlName="name" />
        <div class="text-start">
          <small *ngIf="getControls('name')?.invalid && (getControls('name')?.dirty || getControls('name')?.touched)" class="error-message">
            Enter a category name
          </small>
        </div>
      </div>
      <button *ngIf="IsExsistEditObj()==false" class="add-category" (click)="AddCategory()">Add</button>
      <button *ngIf="IsExsistEditObj()" class="edit-category" (click)="EditCategory()">Edit</button>


    </form>
    }
  </div>

  <div class="w-100 animate__animated animate__fadeInDown">
    <app-main-tabel
    (ShowUiSepasificeEdit)="ShowUiSepasificeEdit($event)"
      [BodyData]="categories()"
      [page]="'Category'"
    ></app-main-tabel>
  </div>
</div>
