$breakpoints: (
  sm: (
    min: 320px,
    max: 767px,
  ),
  md: (
    min: 767px,
    max: 1200px,
  ),
  lg: (
    min: 1200px,
    max: 1400px,
  ),
);
@mixin respond($size) {
  $query: map-get($breakpoints, $size);
  @media (min-width: map-get($query, min)) and (max-width: map-get($query, max)) {
    @content;
  }
}

.Add-category {
  text-align: center;
  background-color: transparent;
  border: 1px solid white;
  width: 12%;
  background-color: #3b82f6;
  color: white;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
  &:hover {
    opacity: 0.5;
  }
}

.form-add-category {
  width: 100%;
  position: relative;
  bottom: 10px;
  top: 7px;

  input {
    position: relative;
    right: 10px;
    background-color: transparent;
    border: 1px solid rgb(56 91 135);
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
  }

  ::placeholder {
    color: white;
  }

  button {
    position: relative;
    top: 15px;
    margin-bottom: 40px;
    right: 10px;
    border: none;
    width: 20%;
    border: 1px solid white;
    padding: 10px;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    &:hover {
      opacity: 0.6;
    }

    @include respond(sm) {
      width: 50%;
    }

    @include respond(md) {
      width: 30%;
    }
  }
}

.add-category{
  background-color: green;
}

.edit-category {
  background-color: red;
}

.Group {
  width: 100%;
  small {
    position: relative;
    right: 10px;
  }
}

.Add-category {
  @include respond(sm) {
    width: 50%;
  }

  @include respond(md) {
    width: 30%;
  }
}
