<p-table
  [paginator]="true"
  [rows]="page === 'home' ? 5 : 10"
  [rowsPerPageOptions]="[5, 10, 20]"
  [value]="BodyData"
  [(selection)]="selectedProducts"
  (onRowSelect)="onRowSelected($event)"
  (onRowUnselect)="onRowUnselected()"
  styleClass="p-datatable-gridlines"
  [tableStyle]="{ 'max-width': '100%' }"
>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 4rem"><p-tableHeaderCheckbox /></th>
      <th class="th" *ngFor="let key of getHeadKeys()">
        {{ key }}
      </th>

      <th *ngIf="page == 'users'|| page === 'Category'">Action</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-BodyData>
    <tr>
      <td>
        <p-tableCheckbox [value]="BodyData" />
      </td>

      <td class="td" *ngFor="let key of getHeadKeys()">
        <ng-container
          *ngIf="key === 'status' && page === 'home'; else normalCell"
        >
          <p
            class="rounded mt-4"
            [ngClass]="{
              'custem-green': BodyData.status === 'New',
              'yollow-color': BodyData.status === 'padding',
              'color-blueviolet': BodyData.status === 'shipping',
              'color-green': BodyData.status === 'Delivered'
            }"
          >
            {{ BodyData.status }}
          </p>
        </ng-container>

        <ng-template #normalCell>
          {{ formatCellValue(key, BodyData[key]) }}
        </ng-template>
      </td>
      <td *ngIf="page == 'users'|| page === 'Category'" class="action-uesr">

        <button
        (click)="onRemoveClick(BodyData)"
        >
          <i class="fa-solid fa-trash"></i>
        </button>

        <button *ngIf="page == 'users'" (click)="EditUser(BodyData)">
          <i class="fa-solid fa-pen"></i>
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>
