<p-table [paginator]="true" [rows]="page === 'home' ? 5 : 10" [rowsPerPageOptions]="[5, 10, 20]" [value]="BodyData"
  styleClass="p-datatable-gridlines" [tableStyle]="{ 'min-width': '46rem' }">
  <!-- Header -->
  <ng-template pTemplate="header">
    <tr>
      <th class="th" *ngFor="let key of getHeadKeys()">
        {{ key }}
      </th>
    </tr>
  </ng-template>
  <!-- Body -->
  <ng-template pTemplate="body" let-BodyData>
    <tr>
      <td class="td" *ngFor="let key of getHeadKeys()">
        <!-- ✅ لو العمود هو 'status'، طبق الألوان فقط للجداول التي تحتوي عليه -->
        <ng-container *ngIf="key === 'status' && page === 'home'; else normalCell">
          <p class="rounded mt-4" [ngClass]="{
               'custem-green': BodyData.status === 'New',
               'yollow-color': BodyData.status === 'padding',
               'color-blueviolet': BodyData.status === 'shipping',
               'color-green': BodyData.status === 'Delivered'
             }">
            {{ BodyData.status }}
          </p>
        </ng-container>
        <!-- ✅ عرض البيانات العادية لأي عمود آخر -->
        <ng-template #normalCell>
          {{ BodyData[key]}}
        </ng-template>
      </td>
    </tr>
  </ng-template>
</p-table>
