<p-table [paginator]="true" [rows]="12" [rowsPerPageOptions]="[5, 10, 20]"
  [value]="BodyData"
  styleClass="p-datatable-gridlines"
  [tableStyle]="{ 'min-width': '46rem' }">

  <ng-template pTemplate="header">
    <tr>
      <th *ngFor="let key of getHeadKeys()" class="gray text-light">
        {{ Dataheader ? Dataheader[key] : key }}
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-rowData>
    <tr>
      <td *ngFor="let key of getHeadKeys()">
        {{ rowData[key] }}
      </td>
    </tr>
  </ng-template>
</p-table>
