

.col-one{
  width: 100%;
}
@media(min-width:767px) and (max-width:1200px){
  .col-one{
    width: 100%;
  }
}
@media(min-width:767px) and (max-width:818px){
  .col-one{
    width: 92%;
  }
}


@media(min-width:1200px) and (max-width:1400px){
  .col-one{
    width: 100%;
  }
}
