
<div class="col-one p-3">
<p-table [paginator]="true" [rows]="12" [rowsPerPageOptions]="[5, 10, 20]" [value]="products"
styleClass="p-datatable-gridlines" [tableStyle]="{ 'min-width': '46rem' }">
<ng-template pTemplate="header">
  <tr class="custem_background_tapel p-2 rounded-4">
    <th class="gray text-light">Id</th>
    <th class="gray text-light">Product</th>
    <th class="gray text-light">Date</th>
    <th class="gray text-light">quantity</th>
    <th class="gray text-light">status</th>

  </tr>
</ng-template>
<ng-template pTemplate="body" let-product>
  <tr>
    <td class="text-light">{{ product.Id }}</td>
    <td class="text-light">{{ product.Product }}</td>
    <td class="text-light">{{ product.Date }}</td>
    <td class="text-light">{{ product.quantity }}</td>
    <td class="text-light">{{ product.status }}</td>


  </tr>
</ng-template>
</p-table>
</div>
