.custem_background_tapel{
  background-color: #1c2e45;
}

.gray{
  background-color: #1c2e45;
  }

  .yollow-color{
    background-color:#eab30833;
    color: rgb(234 179 8 );
     border: 1px solid #eaa81d;
  }

  .color-blueviolet{
    background-color: #a855f733;
  color: rgb(168 85 247 );
  border: 1px solid rgb(168 85 247 );
  }

  .color-green{
    color: #249782;
    border: 1px solid #249782;
    background-color: #163a46;
  }

  .custem-green{
    color: #249782;
    background-color: #163a46;
    border: 1px solid #249772;
  }

  ::ng-deep tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    border-bottom: 1px solid rgb(35 58 87 );
    text-align: center;
    font-size: 15px;
    padding: 10px;
    background-color: #132337;
  }
  ::ng-deep .p-datatable.p-datatable-gridlines .p-paginator-bottom {
    border-width: 0px;
    background-color: #132337;
  }

  ::ng-deep.p-dropdown .p-dropdown-trigger {
    background: transparent;
    color: #6b7280;
    width: 3rem;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    display: none;
  }

  ::ng-deep .p-dropdown {
    margin-left: 0.5rem;
    display: none;
    margin-right: 0.5rem;
    height: 3rem;
  }


  ::ng-deep.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    color: white;
    font-weight: bold;
    background-color: #020f1f;
  }


  ::ng-deep.p-datatable>.p-datatable-wrapper {
    overflow: auto;
    border-radius: 7px;
}























