$breakpoints: (
  sm: (min: 320px, max: 767px),
  md: (min: 767px, max: 1200px),
  lg: (min: 1200px, max: 1400px)
);
@mixin respond($size) {
  $query: map-get($breakpoints, $size);
  @media (min-width: map-get($query, min)) and (max-width: map-get($query, max)) {
    @content;
  }
}


.background{
  height: 100vh;
  background-color: #0f1824
}



.content
{
width: 34%;
  background-color: #132337;
  box-shadow: 0 0 10px #1a2a3e !important;
  top: 180px;
}


$color-classes: (
  color-icon: rgb(168 85 247),
  primary-color: rgb(59 130 246),
  secondry-color: rgb(146 175 211)
);

@each $name, $color in $color-classes {
  .#{$name} {
    color: $color;
  }
}



.btn-logout{
  background-color: rgb(59 130 246 );
  font-size: 14px;
  width: 85%;
  transition: 0.1s linear;
  &:hover{
    opacity: 0.8;
  }
}

.content {
  @include respond(sm) {
    width: 90%;
  }

  @include respond(md) {
    width: 50%;
  }

  @include respond(lg) {
    width: 40%;
  }
}



