<div class="background">
  <div class="content d-flex justify-content-center rounded-2 m-auto position-relative">
    <div class="text-center w-100 ">
      <img src="./assets/Img/logo-light.png" width="120" height="30" class="mt-5 mb-4" />
      <i class="fa-solid fa-right-from-bracket d-block fs-4 color-icon mt-2"></i>
      <h5 class="primary-color mt-3 fw-bold">You are Logged Out</h5>
      <p class="secondry-color mt-3">Thank you for using tailwick admin template</p>
      <button class="d-block text-center btn-logout m-auto  p-2 border-0 p-1 mt-5 mb-5 position-relative rounded text-light ">Logout</button>
    </div>
  </div>
</div>
