<div [ngStyle]="{ visibility: (success$ | async) ? 'visible' : 'hidden' }">
  <app-success></app-success>
</div>
  <app-tostr-error></app-tostr-error>

<div class="content mt-2">
  <div class="w-100">
    <div class="text-center">
      <img
        src="./assets/Img/logo-light.png"
        width="120"
        height="30"
        class="mt-3"
      />
    </div>

    <form class="px-3" [formGroup]="registerForm">
      <div class="w-100 position-relative">
        <label class="d-block">UserName</label>
        <input
          [class.is-invalid]="
            getControls('name')?.invalid && getControls('name')?.touched
          "
           [class.is-valid]="
              getControls('name')?.valid && getControls('name')?.touched
            "
          formControlName="name"
          class="form-control w-100 p-2 bg-transparent rounded-2 mt-2 input"
          placeholder="Enter username"
        />
        <small
          *ngIf="getControls('name')?.invalid && getControls('name')?.touched"
          class="error-message"
          >this The Name Is Requierd</small
        >
      </div>

      <div class="w-100 mt-4 position-relative">
        <label class="d-block">Email</label>
        <input
          [class.is-invalid]="
            getControls('email')?.invalid && getControls('email')?.touched
          "

           [class.is-valid]="
              getControls('email')?.valid && getControls('email')?.touched
            "
          formControlName="email"
          class="form-control w-100 p-2 bg-transparent rounded-2 mt-2 input"
          placeholder="Enter email"
        />
        <div>
          <small
            *ngIf="getControls('email')?.errors?.['required'] && getControls('email')?.touched"
            class="error-message">This email is required
          </small>

          <small
            *ngIf="getControls('email')?.errors?.['invalidEmail'] && getControls('email')?.touched"
            class="error-message">
            Please enter a valid email.
          </small>
        </div>
      </div>

      <div class="w-100 mt-4 position-relative">
        <label class="d-block">Phone</label>
        <input
          [class.is-invalid]="
            getControls('phone')?.invalid && getControls('phone')?.touched
          "
             [class.is-valid]="
              getControls('phone')?.valid && getControls('phone')?.touched
            "
          formControlName="phone"
          class="form-control w-100 p-2 bg-transparent rounded-2 mt-2 input"
          placeholder="Enter Phone"
        />
        <small
          *ngIf="getControls('phone')?.invalid && getControls('phone')?.touched"
          class="error-message"
          >this The Phone Is Requierd</small
        >
      </div>

      <div class="w-100 mt-4 position-relative">
        <label class="d-block">password</label>
        <input
          [class.is-invalid]="
            getControls('password')?.invalid && getControls('password')?.touched
          "
             [class.is-valid]="
              getControls('password')?.valid && getControls('password')?.touched
            "
          formControlName="password"
          class="form-control w-100 p-2 bg-transparent rounded-2 mt-2 input"
          placeholder="Enter password"
        />
        <small
          *ngIf="
            getControls('password')?.invalid && getControls('password')?.touched
          "
          class="error-message"
          >this The password Is Requierd</small
        >
      </div>

      <div class="w-100 mt-4 position-relative">
        <label class="d-block">Confirm password</label>
        <input
          [class.is-invalid]="
            getControls('passwordConfirm')?.invalid &&
            getControls('passwordConfirm')?.touched
          "
             [class.is-valid]="
              getControls('passwordConfirm')?.valid && getControls('passwordConfirm')?.touched
            "
          formControlName="passwordConfirm"
          class="form-control w-100 p-2 bg-transparent rounded-2 mt-2 input"
          placeholder="Enter password"
        />
        <div>
          <small
            *ngIf="
              getControls('passwordConfirm')?.invalid &&
              getControls('passwordConfirm')?.touched
            "
            class="error-message"
            >this The passwordConfirm Is Requierd
          </small>
          <small
            *ngIf="
              registerForm.hasError('misMatch') &&
              getControls('passwordConfirm')?.touched
            "
            class="error-message mt-3 mb-3"
            >this the Password Dont Match</small
          >
        </div>
      </div>

      <button
        (click)="CreateAccountUser('register')"
        [ngClass]="{ loding: LoadingButton == 'register' }"
        class="btn_signin"
      >
        Sign Up
      </button>

      <div
        class="d-flex justify-content-center coustem_secondry_color mt-2 fe-bolder"
      >
        <p>
          Already have an account ?
          <a
            href=""
            [routerLink]="['/auth/login']"
            routerLinkActive="router-link-active"
            class="coustem_secondry_color"
            >Login</a
          >
        </p>
      </div>
    </form>
  </div>
</div>
