$breakpoints: (
  sm: (min: 320px, max: 767px),
  md: (min: 767px, max: 1200px),
  lg: (min: 1200px, max: 1400px)
);
@mixin respond($size) {
  $query: map-get($breakpoints, $size);
  @media (min-width: map-get($query, min)) and (max-width: map-get($query, max)) {
    @content;
  }
}



.custem_primary_color{
  color: #185bea;
}

.coustem_secondry_color{
  color: rgb(146 175 211 );
}
.content{
  width: 30%;
  background-color: #132337;
  box-shadow: 0 0 10px #1a2a3e !important;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  margin: auto;
  position: relative;
  margin-top: 30px;
}

.error-message{
  color: red;
  position: absolute;
  font-size: 12px;
}

.input:not(.is-invalid){
  border: 1px solid rgb(35 58 87 );
  color: white;
}

.is-invalid {
  border: 1px solid red !important;
  background-color: #132337 !important;
  color: white !important;
}

input[type="checkbox"] {
  display: none;
}

input{
color: white;
}


.btn_signin{
  background-color: rgb(59 130 246 );
  margin-top: 35px;
  color: white;
  position: relative;
  width: 100%;
  padding: 10px;
  border: 0;
  border-radius: 5px;
}


.custem-size-icon{
  width: 40px;
  height: 40px;
  line-height: 43px;
  font-size: 14px;
}

::placeholder{
color: rgb(155, 187, 235);
}




.content {
  @include respond(sm) {
    width: 90%;
  }

  @include respond(md) {
    width: 50%;
  }

  @include respond(lg) {
    width: 40%;
  }
}






