.tostr-error{
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: red;
    width: 300px;
    text-align: center;
    padding: 7px;
    border-radius: 3px;
    font-weight: bold;
    z-index: 777777;
}
