<div class="background-login d-flex justify-content-center align-items-center">
  <div class="content d-flex justify-content-center rounded-2 m-auto">
    <div class="w-100" >
      <div class="text-center ">
        <img src="../../../../assets/Img/logo-light.png" width="120" height="30" class="mt-5 mb-4" />
        <h5 class="custem_primary_color mb-2">Welcome Back !</h5>
        <p class="coustem_secondry_color">Sign in to continue to Tailwick.</p>
      </div>

      <form class="p-3 ">
        <div class="w-100">
          <label class="d-block">UserName/ Email ID</label>
          <input class="w-100 p-2 bg-transparent rounded-2 mt-2 input" placeholder="Enter Username Or Email" />
        </div>

        <div class="w-100 mt-4">
          <label class="d-block">password</label>
          <input class="w-100 p-2 bg-transparent rounded-2 mt-2 input" placeholder="Enter password" />
        </div>

        <div class="w-100 mt-4 d-flex align-items-center custom-checkbox">
          <input type="checkbox" id="rememberMe" />
          <label for="rememberMe" class="check position-relative"></label>
          <span class="ps-1">Remember me</span>
        </div>

        <button class="btn_signin text-light p-2 border-0 rounded w-100">Sign In</button>

        <div class="d-flex justify-content-center align-items-center mt-4">
          <span class="border_span w-50"></span>
          <span class="text-center w-50 p-1  gray_color">Sign In with</span>
          <span class="border_span w-50"></span>
        </div>

        <div class="d-flex justify-content-center align-items-center mt-4 icons text-center">
          <i class="fa-brands fa-facebook-f me-3  rounded custem-size-icon text-center"></i>
          <i class="fa-regular fa-envelope me-3  rounded custem-size-icon text-center"></i>
          <i class="fa-brands fa-twitter me-3  rounded custem-size-icon text-center"></i>
          <i class="fa-brands fa-google me-3  rounded custem-size-icon text-center"></i>
        </div>
        <div class="d-flex justify-content-center coustem_secondry_color mt-4 fe-bolder">
          <p>Don't have an account ? <a href=""  [routerLink]="['/auth/register']"  class="coustem_secondry_color">SignUp</a></p>
        </div>
      </form>
    </div>
  </div>

</div>
