$breakpoints: (
  sm: (min: 320px, max: 767px),
  md: (min: 767px, max: 1200px),
  lg: (min: 1200px, max: 1400px)
);
@mixin respond($size) {
  $query: map-get($breakpoints, $size);
  @media (min-width: map-get($query, min)) and (max-width: map-get($query, max)) {
    @content;
  }
}

.custem_primary_color{
  color: #185bea;
}

.coustem_secondry_color{
  color: rgb(146 175 211 );
}


.content
{
width: 32%;
  background-color: #132337;
  box-shadow: 0 0 10px #1a2a3e !important;
}

.input:not(.is-invalid){
  border: 1px solid rgb(35 58 87 );
  color: white;
}
.is-invalid {
  border: 1px solid red !important;
  background-color: #132337 !important;
  color: white !important;
}

input[type="checkbox"] {
  display: none;
}



.check{
  border: 1px solid rgb(35 58 87 );
  height: 20px;
  width: 20px;
}

.error-message{
  color: red;
  position: absolute;
    font-size: 12px;
}

.custom-checkbox input[type="checkbox"] {
  display: none;
}

.custom-checkbox label {
  width: 20px;
  height: 20px;
  border: 2px solid rgb(35 58 87 );
  background: transparent;
  border-radius: 4px;
  cursor: pointer;
}

.custom-checkbox input[type="checkbox"]:checked + label::after {
  content: "✔";
  font-size: 16px;
  color: white;
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
}

.btn_signin{
  position: relative;
  background-color: rgb(59 130 246 );
  margin-top: 35px;
}


.border_span{
  height: 1px;
  width: 50%;
  background-color: rgb(35 58 87 );
}

.gray_color{
  background-color: rgb(28 46 69);
  color: rgb(146 175 211 );
}

$icon-colors: (
  rgb(59 130 246),
  rgb(249 115 22),
  rgb(14 165 233),
  rgb(100 116 139)
);
@for $i from 1 through length($icon-colors) {
  .icons i:nth-child(#{$i}) {
    background-color: nth($icon-colors, $i);
  }
}


.custem-size-icon{
  width: 40px;
  height: 40px;
  line-height: 43px;
  font-size: 14px;
}

::placeholder{
color: rgb(155, 187, 235);
}


.content {
  @include respond(sm) {
    width: 90%;
  }

  @include respond(md) {
    width: 50%;
  }

  @include respond(lg) {
    width: 40%;
  }
}
