.background{
  height: 100vh;
  background-color: #0f1824
}


.content{
  width: 32%;
  background-color: #132337;
  box-shadow: 0 0 5px #1a2a3e !important;
  top: 60px;
}
.primary-color{
  color:  rgb(59 130 246 )
  }

  .secondry-color{
    color: rgb(146 175 211);
  }

  .custem-color-desc{
    color: #C8D7E9;
  }


.border-input{
  border: 1px solid rgb(35 58 87 );
}

.custem_position{
  text-align: left;
}


input[type="checkbox"] {
  display: none;
}

.custom-checkbox label {
  width: 20px;
  height: 20px;
  border: 2px solid rgb(35 58 87 );
  background: transparent;
  border-radius: 4px;
  cursor: pointer;
}

.custom-checkbox input[type="checkbox"]:checked + label::after {
  content: "✔";
  font-size: 16px;
  color: white;
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
}


.btn-create-password{
  background-color: rgb(59 130 246 );
  font-size: 14px;
  top:30px;
}

.btn-create-password:hover{
  opacity: 0.8;
}





@media(min-width:320px) and (max-width:767px){
  .content{
    width: 100%;
  }
}

@media(min-width:767px) and (max-width:1200px){
  .content{
    width: 50%;
  }

}


@media(min-width:1200px) and (max-width:1400px){
  .content{
    width: 40%;
  }
}
