<div class="background">
<div class="content d-flex align-item-center justify-content-center rounded-2 m-auto position-relative">
  <div class="text-center w-100 ">
    <img src="../../../../assets/Img/logo-light.png" width="120" height="30" class="mt-5 mb-4" />
  <h5 class="primary-color">Set a New Password</h5>
  <p class="secondry-color mb-0">Your new password should be distinct from any of your</p>
  <p class="secondry-color mt-2">prior passwords</p>
  <form class="custem_position px-4 mt-4"  >
    <div>
      <label>Password</label>
      <input placeholder="Password" class="w-100 p-2 bg-transparent border-input rounded mt-2" type="password"/>
    </div>

    <div class="mt-3">
      <label>Confirm Password</label>
      <input placeholder="Confirm Password" class="w-100 p-2 bg-transparent border-input rounded mt-2" type="password"/>
    </div>


    <div class="w-100 mt-4 d-flex align-items-center custom-checkbox">
      <input type="checkbox" id="rememberMe" />
      <label for="rememberMe" class="check position-relative"></label>
      <span class="ps-1">Remember me</span>
    </div>
<button class="w-100 mt-5 p-2 rounded btn-create-password border-0">Reset Password</button>
  </form>
  <p class="custem-color-desc mt-3 mb-5">Hold on, I've got my password... <a href="/" [routerLink]="['/auth/login']" routerLinkActive="router-link-active"  class="primary-color curor-pointer">Click here</a></p>
  </div>
</div>
</div>
