<div class="background">
  <div class="content d-flex align-item-center justify-content-center rounded-2 m-auto position-relative">
    <div class="text-center w-100 ">
      <img src="../../../../assets/Img/logo-light.png" width="120" height="30" class="mt-5 mb-4" />
      <h5 class="primary-color mt-3 fw-bold">Forgot Password?</h5>
      <p class="secondry-color mt-3">Reset your Tailwick password</p>
      <p class="font-size m-auto rounded position-relative">Provide your email address, and instructions will be sent to you</p>
      <form class="custem_position mt-3 p-4">
        <label class="d-block custem-label-color">Email</label>
        <input type="email" class="w-100 p-2 bg-transparent border-input rounded mt-2" placeholder="Enter Email"/>
        <button class="d-block text-center btn-create-password m-auto w-100  p-2 border-0 p-1 mb-4 position-relative rounded text-light ">Logout</button>
      </form>
      <p class="secondry-color m-0  mb-4">Wait, I remember my password... <a href="/" [routerLink]="['/auth/register']" routerLinkActive="router-link-active" >Click here</a></p>
    </div>

  </div>
</div>
