
.hover_li {
  color: rgb(146 175 211);
  cursor: pointer;
}

.hover_li:hover {
  color: #2450c5;
  background-color: #1c2e45;
}

.fa-xmark {
  right: 0;
}

.show-in-small-screen {
  color: #4895f9;
  height: 30px;
  width: 30px;
  line-height: 30px;
  background-color: #1c2e45;
  display: none;
}

.show-in-small-screen:hover {
  background-color: white;
  color: black;
}

.custem-size {
  font-size: 15px;
}

.active-bacground {
  color: #2450c5;
  background-color: #1c2e45;
}

.circle {
  left: 0;
  height: 7px;
  width: 7px;
}


.custem-color {
  color: rgb(146 175 211)
}

.active_color {
  color: #2450c5;
}

.main-background {
  background-color: rgb(146 175 211);
}

.active_background {
  background-color: #2450c5;
}

.flex-proprty{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 92vh;
}
.logOut-btn{
  position: absolute;
  // bottom: 5px;
  width: 100%;
  // margin-left: 3.4px;
  border-radius: 5px;
  background-color: #3b82f6;
  color: white;
  border: 1px solid white;
  padding: 10px;
  &:hover{
    opacity: 0.6;
  }
  i{
    font-size: 20px;
    font-weight: bold;
  }
}

@media(min-width:320px) and (max-width:767px) {
  .show-in-small-screen {
    display: block;
  }

}


@media(min-width:767px) and (max-width:1200px) {
  .show-in-small-screen {
    display: block;
  }

}
