<div class="d-flex flex-wrap p-3 gap-3">

  <div class="col_1  rounded p-2">
    <div class="d-flex justify-content-between">
      <p class="text-decorection">Shopping Cart <span>(3)</span></p>
      <p class="text-danger curor-pointer font-size"><i class="fa-solid fa-trash"></i> Delet All</p>
    </div>

    <div class="mb-3 custem_background p-3 rounded d-flex justify-content-between">
      <div class="d-flex flex-wrap gap-2">
        <img width="150" class="custem-auto rounded-2 custem-img-color main-img rounded"
          src="./assets/Img/overview-01.png" alt="img" />
        <div>
          <p class="custem-white mb-1">Roar Twill Blue Baseball Cap</p>
          <p class="secondry-color mb-1">Men's Fashion</p>
          <p class="custem-white mb-1"><span class="secondry-color">Color:</span> White/Blue</p>
          <p class="custem-white mb-1"><span class="secondry-color">Size</span>: L</p>
          <div class="mt-4 d-flex align-items-center">
            <div class="custem-border p-2 rounded">
              <button class="px-2 py-1 custem-img-color text-light custem-radius border-0"><i
                  class="fa-solid fa-plus"></i></button>
              <span class="px-3">2</span>
              <button class="px-2 py-1 custem-img-color text-light custem-radius border-0"><i
                  class="fa-solid fa-minus"></i></button>
            </div>
            <div class="text-center ms-2">
              <button class="delete text-center custem-radius py-1 px-2 m-auto d-block  border-0 "> <i
                  class="fa-solid fa-trash "></i></button>
            </div>
          </div>
        </div>
      </div>
      <p>$149.99 $299.99</p>
    </div>


    <div class="mb-3 custem_background p-3 rounded d-flex justify-content-between">
      <div class="d-flex flex-wrap gap-2">
        <img width="150" class="custem-auto rounded-2 custem-img-color main-img rounded"
          src="./assets/Img/overview-01.png" alt="img" />
        <div>
          <p class="custem-white mb-1">Roar Twill Blue Baseball Cap</p>
          <p class="secondry-color mb-1">Men's Fashion</p>
          <p class="custem-white mb-1"><span class="secondry-color">Color:</span> White/Blue</p>
          <p class="custem-white mb-1"><span class="secondry-color">Size</span>: L</p>
          <div class="mt-4 d-flex align-items-center">
            <div class="custem-border p-2 rounded">
              <button class="px-2 py-1 custem-img-color text-light custem-radius border-0"><i
                  class="fa-solid fa-plus"></i></button>
              <span class="px-3">2</span>
              <button class="px-2 py-1 custem-img-color text-light custem-radius border-0"><i
                  class="fa-solid fa-minus"></i></button>
            </div>
            <div class="text-center ms-2">
              <button class="delete text-center custem-radius py-1 px-2 m-auto d-block  border-0 "> <i
                  class="fa-solid fa-trash "></i></button>
            </div>
          </div>
        </div>
      </div>
      <p>$149.99 $299.99</p>
    </div>


    <div class="mb-3 custem_background p-3 rounded d-flex justify-content-between">
      <div class="d-flex flex-wrap gap-2">
        <img width="150" class="custem-auto rounded-2 custem-img-color main-img rounded"
          src="./assets/Img/overview-01.png" alt="img" />
        <div>
          <p class="custem-white mb-1">Roar Twill Blue Baseball Cap</p>
          <p class="secondry-color mb-1">Men's Fashion</p>
          <p class="custem-white mb-1"><span class="secondry-color">Color:</span> White/Blue</p>
          <p class="custem-white mb-1"><span class="secondry-color">Size</span>: L</p>
          <div class="mt-4 d-flex align-items-center">
            <div class="custem-border p-2 rounded">
              <button class="px-2 py-1 custem-img-color text-light custem-radius border-0"><i
                  class="fa-solid fa-plus"></i></button>
              <span class="px-3">2</span>
              <button class="px-2 py-1 custem-img-color text-light custem-radius border-0"><i
                  class="fa-solid fa-minus"></i></button>
            </div>
            <div class="text-center ms-2">
              <button class="delete text-center custem-radius py-1 px-2 m-auto d-block  border-0 "> <i
                  class="fa-solid fa-trash "></i></button>
            </div>
          </div>
        </div>
      </div>
      <p>$149.99 $299.99</p>
    </div>


    <div class="mb-3 custem_background p-3 rounded d-flex justify-content-between">
      <div class="d-flex flex-wrap gap-2">
        <img width="150" class="custem-auto rounded-2 custem-img-color main-img rounded"
          src="./assets/Img/overview-01.png" alt="img" />
        <div>
          <p class="custem-white mb-1">Roar Twill Blue Baseball Cap</p>
          <p class="secondry-color mb-1">Men's Fashion</p>
          <p class="custem-white mb-1"><span class="secondry-color">Color:</span> White/Blue</p>
          <p class="custem-white mb-1"><span class="secondry-color">Size</span>: L</p>
          <div class="mt-4 d-flex align-items-center">
            <div class="custem-border p-2 rounded">
              <button class="px-2 py-1 custem-img-color text-light custem-radius border-0"><i
                  class="fa-solid fa-plus"></i></button>
              <span class="px-3">2</span>
              <button class="px-2 py-1 custem-img-color text-light custem-radius border-0"><i
                  class="fa-solid fa-minus"></i></button>
            </div>
            <div class="text-center ms-2">
              <button class="delete text-center custem-radius py-1 px-2 m-auto d-block  border-0 "> <i
                  class="fa-solid fa-trash "></i></button>
            </div>
          </div>
        </div>
      </div>
      <p>$149.99 $299.99</p>
    </div>



    <div class="mb-3 custem_background p-3 rounded d-flex justify-content-between">
      <div class="d-flex flex-wrap gap-2">
        <img width="150" class="custem-auto rounded-2 custem-img-color main-img rounded"
          src="./assets/Img/overview-01.png" alt="img" />
        <div>
          <p class="custem-white mb-1">Roar Twill Blue Baseball Cap</p>
          <p class="secondry-color mb-1">Men's Fashion</p>
          <p class="custem-white mb-1"><span class="secondry-color">Color:</span> White/Blue</p>
          <p class="custem-white mb-1"><span class="secondry-color">Size</span>: L</p>
          <div class="mt-4 d-flex align-items-center">
            <div class="custem-border p-2 rounded">
              <button class="px-2 py-1 custem-img-color text-light custem-radius border-0"><i
                  class="fa-solid fa-plus"></i></button>
              <span class="px-3">2</span>
              <button class="px-2 py-1 custem-img-color text-light custem-radius border-0"><i
                  class="fa-solid fa-minus"></i></button>
            </div>
            <div class="text-center ms-2">
              <button class="delete text-center custem-radius py-1 px-2 m-auto d-block  border-0 "> <i
                  class="fa-solid fa-trash "></i></button>
            </div>
          </div>
        </div>
      </div>
      <p>$149.99 $299.99</p>
    </div>



  </div>
  <div class="col_2 mt-5">
    <div class="custem_background rounded  p-3">
    <p>Summary</p>
    <div class="d-flex justify-content-between">
      <p class="secondry-color font-size">Sub Total</p>
      <p>$932.16</p>
    </div>

    <div class="d-flex justify-content-between mt-2">
      <p class="secondry-color font-size">Estimated Tax (18%)</p>
      <p>$167.79</p>
    </div>

    <div class="d-flex justify-content-between mt-2">
      <p class="secondry-color font-size">Item Discounts (12%)	</p>
      <p>	-$111.86</p>
    </div>

    <div class="d-flex justify-content-between mt-2">
      <p class="secondry-color font-size">Shipping Charge</p>
      <p>$0</p>
    </div>

    <div class="d-flex justify-content-between mt-2">
      <p>Total Amount (USD)	</p>
      <p>$988.09</p>
    </div>
  </div>

    <div class="d-flex align-items-center gap-2 w-100 mt-4">
      <button class="w-100 p-2 rounded btn_shopping text-light border-0">To Shopping</button>
      <button class="w-100 p-2 rounded btn_checkout text-light border-0">CheckOut</button>
    </div>

    <div class="custem_background px-3 py-2 mt-4 rounded d-flex">
      <div class="custem-img-color secondry-color px-3 py-3 rounded">
        <i class="fa-solid fa-truck-fast"></i>
      </div>
      <div class="ms-4 ">
        <p class="mb-3 p-0">Estimated Delivery</p>
        <p class="m-0">01 - 07 Dec, 2023</p>
      </div>
    </div>
  </div>

</div>
