@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
// @import "primeng/resources/themes/lara-light-blue/theme.css";
// @import "primeng/resources/primeng.css";
@import 'primeng/resources/themes/lara-light-blue/theme.css';
@import 'primeng/resources/primeng.min.css';




body{
  background-color: black !important;
  color: white;
  overflow-x: hidden;
}

.curor-pointer{
  cursor: pointer !important;
}

li{
  list-style: none;
}


